# Database With Python

Install connector

In [9]:
!pip install psycopg2-binary
import psycopg2

Collecting psycopg2-binary
  Using cached psycopg2_binary-2.9.10-cp313-cp313-win_amd64.whl.metadata (4.8 kB)
Using cached psycopg2_binary-2.9.10-cp313-cp313-win_amd64.whl (2.6 MB)
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.10

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

reset password 

###### ALTER USER postgres WITH PASSWORD 'new_password';

Create connectors

In [20]:
my_conn = psycopg2.connect(
    
    host = "localhost",
    database = 'ds_new',
    user = 'postgres',
    password = "1475369"
    
    
    
)

In [21]:
my_conn.autocommit = True

has a cursor

In [22]:
cur = my_conn.cursor()

make simple query

In [23]:
cur.execute('SELECT current_user')
print(cur.fetchone()[0])

postgres

create new database

In [25]:
cur = my_conn.cursor()
cur.execute("select current_user")
print(cur.fetchone()[0])

postgres

how to get all database name

In [26]:
cur.execute("SELECT datname from PG_database WHERE datistemplate = false")
for db in cur.fetchall():
    print(db[0])

postgres
ds_new

In [27]:
cur.execute("CREATE TABLE students_ (name VARCHAR(50), ohone VARCHAR(20))")
print("table created")

table created

In [29]:
cur.execute('ALTER TABLE students_ RENAME COLUMN ohone TO phone')
print("column changed")

column changed

In [30]:
sql = "INSERT INTO students_ (name,phone) values (%s, %s)"
data = ('mohamed','01147298055')
cur.execute(sql,data)
my_conn.commit()
print('the new record was inserted')

the new record was inserted

In [ ]:
ql = "INSERT INTO students_ (name, phone) values (%s, %s)"
data = [
    ("omer", '0124354353'),
    ("omer", '0124354353'),
    ("omer", '0124354353'),
    ("omer", '0124354353'),
    ("omer", '0124354353')
]

In [32]:
cur.executemany(ql, data)
my_conn.commit()
print(cur.rowcount)

5

In [33]:
cur.execute("select * from students_")
results = cur.fetchall()
for i in results:
    print(i)

('mohamed', '01147298055')
('omer', '0124354353')
('omer', '0124354353')
('omer', '0124354353')
('omer', '0124354353')
('omer', '0124354353')